<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.celan.dataservice.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.celan.api.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="UserAccountInfoResultMap" type="com.celan.api.pojo.UserAccountInfo">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="available_money" jdbcType="DECIMAL" property="availableMoney"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, login_password, phone, add_time, last_login_time, header_image, id_card
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--注册的用户数量-->
  <select id="selectCountUsers" resultType="java.lang.Integer">
    select count(id) as ct from u_user
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from u_user
    where phone = #{phone}
  </select>
    <select id="selectLogin" resultType="com.celan.api.model.User">
        select <include refid="Base_Column_List" />
      from u_user
      where phone = #{phone} and login_password = #{password}
    </select>
    <select id="selectUserAccountById" resultMap="UserAccountInfoResultMap">
      select u.*, a.available_money
        from u_user u join u_finance_account a on u.id = a.uid
        where u.id = #{uid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertReturnPrimaryKey">
    insert into u_user(phone, login_password, add_time)
    values(#{phone}, #{loginPassword}, #{addTime})
    <selectKey keyColumn="newId" keyProperty="id" resultType="java.lang.Long" order="AFTER">
        select last_insert_id() as id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.celan.api.model.User">
    update u_user
    <set>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headerImage != null">
        header_image = #{headerImage,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.celan.api.model.User">
    update u_user
    set
      login_password = #{loginPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      header_image = #{headerImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>